<div class="w3-container w3-content">

  <div class="w3-panel w3-white w3-card-2 w3-display-container">
    <div class="w3-row">
      <div class="w3-col m4">
        <p><b>NAME:</b><%= hotel.property_name %></p>
      <div class="w3-col m4">
        <h3><%= "#{hotel.total_price.amount} #{hotel.total_price.currency}"%></h3>
      </div>
    </div>
  </div>
</div>
</div>